body {
  padding: 10px 100px;
}

h1 {
  background: #b0dcfa;
  padding: 0.5em;
  color: white;
  border-radius: 0.5em;
}

.btn-square-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;
  border-bottom: solid 2px #d27d00;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

.btn-square-pop:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.roulette {
  width: 65px;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  background: #d1ffe8;
}

#contents { padding: 0 20px; } */

.content {
  width: 50%;
  height: 25px;
  background: #ccc;
  padding: 10px;
}

.child-content {
  width: 100px;
  height: 25px;
  background: red;
  float: left;
  margin-right: 10px;
}

.hoge-btn {
  float:right;
}

.content2 {
  width: 100%;
  height: 25px;
  background-color: #ccc;
  padding: 10px;
}

.box1 {
  width: 100px;
  height: 25px;
  background: red;
  margin-right: 10px;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.content2 {
  display: flex;
  justify-content: space-between;
}

.content3 {
  width: 100%;
  height: 25px;
  background: #ccc;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.content-left {
  display: flex;
  justify-content: flex-start;
}

.content-box {
  width: 100px;
  height: 25px;
  background: red;
  margin-right: 10px;
}
