@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
dd {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  opacity: 0;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

body {
  font-family: "メイリオ", Meiryo, sans-serif;
  color: #333333;
  font-size: 100%;
  line-height: 1.6;
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 0.875rem;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #333333;
  display: block;
}

.l-header {
  width: 100%;
}

.l-header__inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  border-bottom: 1px solid #c3c3c3;
}
@media screen and (max-width: 767px) {
  .l-header__inner {
    padding: 0 20px;
    border: none;
  }
}

.l-login {
  width: 100%;
  height: 100%;
  background-color: #ecebeb;
  position: fixed;
  top: 0;
  left: 0;
}

.l-login__inner {
  width: 600px;
  max-width: 100%;
  padding: 60px 100px;
  background-color: #FFFFFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .l-login__inner {
    padding: 40px;
  }
}

.l-product {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 767px) {
  .l-product {
    padding: 0;
  }
}

.l-product__inner {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
}
@media screen and (max-width: 767px) {
  .l-product__inner {
    padding-top: 0;
    flex-direction: column;
  }
}

.l-footer {
  width: 100%;
  margin-top: 90px;
}

.l-footer__inner {
  width: 1080px;
  max-width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.l-signup {
  width: 100%;
}

.l-signup__inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .l-signup__inner {
    padding: 40px 16px;
  }
}

.l-check {
  width: 100%;
  margin-top: 100px;
}

.l-check__inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .l-check__inner {
    padding: 40px 16px;
  }
}

.l-thanks {
  width: 100%;
  margin-top: 100px;
}

.l-thanks__inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

.c-btn {
  display: inline-block;
  width: 304px;
  max-width: 100%;
  padding: 1em 2em;
  background-color: #4b4b4b;
  border: 2px solid transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #FFFFFF;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
  font-weight: bold;
}
.c-btn:focus, .c-btn:hover {
  opacity: 0.7;
}
.c-btn:disabled {
  background-color: #c3c3c3;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .c-btn {
    width: 200px;
    font-size: 0.875px;
  }
}

.c-link {
  color: #333333;
  text-decoration: underline;
  font-size: 1rem;
  display: block;
  margin-top: 24px;
}
.c-link:focus, .c-link:hover {
  opacity: 0.7;
}

.c-link--home {
  font-size: 0.75rem;
}

.c-link--signup {
  color: #3F51B5;
}

.c-section__title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 40px;
}

.p-header__logo {
  width: 110px;
  margin: 0 auto;
  padding-top: 40px;
}

.p-header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-header__menu {
    justify-content: center;
  }
}

.p-header__itemList,
.p-header__userList {
  display: flex;
}

.p-header__item,
.p-header__userItem {
  margin-left: 14px;
}
.p-header__item:first-child,
.p-header__userItem:first-child {
  margin-left: 0;
}
.p-header__item a,
.p-header__userItem a {
  color: #333333;
  font-size: 0.75rem;
  line-height: 56px;
}
@media screen and (max-width: 767px) {
  .p-header__item a,
.p-header__userItem a {
    line-height: 40px;
  }
}
.p-header__item a:hover,
.p-header__userItem a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .p-header__userItem {
    display: none;
  }
}

.p-login__title {
  font-size: 24px;
  padding: 0 0 24px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .p-login__title {
    font-size: 20px;
    padding: 0 0 20px;
  }
}

.p-login__error {
  color: red;
}

.p-login__form {
  height: 250px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.p-login__label {
  width: 30%;
  height: 40px;
  padding-top: 1em;
}
@media screen and (max-width: 767px) {
  .p-login__label {
    width: 100%;
  }
}

.p-login__input {
  width: 70%;
  border-bottom: 1px solid #c3c3c3;
  height: 40px;
  padding: 0.5em 1em;
}
@media screen and (max-width: 767px) {
  .p-login__input {
    width: 100%;
  }
}

.p-login__btn {
  width: 50%;
  height: 60px;
  background-color: #3F51B5;
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .p-login__btn {
    height: 40px;
    width: 250px;
  }
}

.p-product__image {
  flex: 0 0 50%;
}
@media screen and (max-width: 767px) {
  .p-product__image {
    flex-basis: 100%;
  }
}

.p-product__box {
  flex: 0 1 50%;
  margin-left: 60px;
  font-size: 0.75rem;
}
@media screen and (max-width: 767px) {
  .p-product__box {
    flex-basis: 100%;
    margin-left: 0;
    padding: 10px 18px;
  }
}

.p-product__name {
  font-size: 1rem;
  font-weight: bold;
  padding: 18px 0;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
}

.p-product__text {
  margin-top: 20px;
}

.p-product__price {
  margin-top: 30px;
}

.p-product__orderTable {
  width: 340px;
  max-width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  line-height: 38px;
  text-align: center;
}
.p-product__orderTable thead {
  border-bottom: 1px solid #c3c3c3;
  font-weight: normal;
}
.p-product__orderTable th, .p-product__orderTable td {
  font-weight: normal;
}
.p-product__orderTable th:nth-child(1), .p-product__orderTable td:nth-child(1) {
  width: 68px;
  border-right: 1px solid #c3c3c3;
}
.p-product__orderTable th:nth-child(2), .p-product__orderTable td:nth-child(2) {
  width: 68px;
  border-right: 1px solid #c3c3c3;
}
.p-product__orderTable tr {
  border-bottom: 1px solid #c3c3c3;
}
.p-product__orderTable tr:last-child {
  border-bottom: none;
}

.p-product__selectTd {
  position: relative;
  padding: 0 1em;
}
.p-product__selectTd::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  display: block;
  border-style: solid;
  border-width: 12px 7px 0 7px;
  border-color: #c3c3c3 transparent transparent transparent;
  pointer-events: none;
}

.p-product__select {
  width: 184px;
  max-width: 100%;
  line-height: 18px;
  border: 1px solid #c3c3c3;
  background-color: #FFFFFF;
  padding: 0 2em 0 1em;
  text-align: right;
}

.p-product__btn {
  margin-top: 20px;
  width: 100%;
  padding: 18px 0;
  text-align: center;
  background-color: #4b4b4b;
  color: #FFFFFF;
}

.p-product__sizeTable {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
  line-height: 38px;
  text-align: center;
}
.p-product__sizeTable th, .p-product__sizeTable td {
  border: 1px solid #c3c3c3;
  font-weight: normal;
}
.p-product__sizeTable th {
  background-color: #ecebeb;
}

.p-footer__copyright {
  text-align: center;
  padding: 10px;
  font-size: 0.675rem;
}

.p-signup__form {
  width: 600px;
  max-width: 100%;
  padding: 24px 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
}
@media screen and (max-width: 767px) {
  .p-signup__form {
    padding: 16px;
  }
}

.p-signup__label {
  padding-top: 1.5em;
  margin-top: 24px;
}

.p-label__essential {
  background-color: red;
  color: white;
  border-radius: 2px;
  margin: 0 1em;
  font-size: 0.475rem;
  padding: 0.2em 1em;
}

.p-signup__input {
  width: 100%;
  border-bottom: 1px solid #c3c3c3;
  padding: 1.5em 1em 0;
}
.p-signup__input:focus, .p-signup__input:hover {
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.16);
}

.p-signup__selectWrap {
  width: 100%;
  padding-top: 1.5em;
  text-align: left;
}

.p-signup__select {
  border: 1px solid #c3c3c3;
  padding: 0.2em 2em 0.2em 1em;
}
.p-signup__select:focus, .p-signup__select:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
}

.p-select__unit {
  margin: 0 1em 0 0.5em;
  position: relative;
}
.p-select__unit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8.7px 5px 0 5px;
  border-color: #c3c3c3 transparent transparent transparent;
  pointer-events: none;
}

.p-signup__radioWrap {
  width: 100%;
  padding-top: 1.5em;
  text-align: left;
}

.p-signup__radio {
  position: relative;
}

.p-radio__gender {
  position: absolute;
  top: 0;
  left: 0;
}
.p-radio__gender + span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0 1.2em;
}
.p-radio__gender + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background: #FFFFFF;
  border: 1px solid #c3c3c3;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.p-radio__gender + span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease 0s;
  height: 6px;
  width: 6px;
  background: #3F51B5;
  border-radius: 50%;
  padding: 0.125em;
}
.p-radio__gender + span:active::before {
  background: #FFFFFF;
}
.p-radio__gender:checked + span::after {
  opacity: 1;
}
.p-radio__gender:hover + span::before, .p-radio__gender:focus + span::before {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
}

.p-signup__eye {
  padding-left: 1em;
}
.p-signup__eye:hover {
  cursor: pointer;
}

.p-signup__btn {
  width: 50%;
  background-color: #3F51B5;
  font-size: 0.75rem;
  margin: 32px auto 0;
}

.p-signup__error {
  font-size: 0.75rem;
  color: red;
  padding-left: 1rem;
}

.p-check__form {
  width: 600px;
  max-width: 100%;
  padding: 24px 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
}

.p-check__comment {
  width: 100%;
  text-align: center;
}

.p-check__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .p-check__list {
    text-align: left;
  }
}
.p-check__list dt {
  width: 20%;
  padding-top: 1.5em;
  margin-top: 24px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .p-check__list dt {
    width: 100%;
    margin-top: 0;
  }
}
.p-check__list dd {
  width: calc(80% - 32px);
  border-bottom: 1px solid #c3c3c3;
  padding: 1.5em 1em 0;
  margin: 24px 0 0 32px;
}
@media screen and (max-width: 767px) {
  .p-check__list dd {
    width: 100%;
    margin: 0;
  }
}

.p-fix__btn {
  width: calc(50% - 16px);
  font-size: 0.75rem;
  margin-top: 32px;
}
@media screen and (max-width: 767px) {
  .p-fix__btn {
    width: 100%;
  }
}

.p-check__btn {
  width: calc(50% - 16px);
  background-color: #3F51B5;
  font-size: 0.75rem;
  margin: 32px 0 0 32px;
}
@media screen and (max-width: 767px) {
  .p-check__btn {
    width: 100%;
    margin-left: 0;
  }
}

.p-check__error {
  font-size: 0.75rem;
  color: red;
  padding-left: 1rem;
}

.u-mt--5 {
  margin-top: 50px;
}
