/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1em;
    font-family: "Helvetica Neue",Helvetica,Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"MS Ｐゴシック","MS PGothic",sans-serif;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

ul{
    list-style:none;
    display: flex;
    flex-wrap: wrap;
}

a {
    margin:0;
    padding:0;
    color: #000;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.body{
    width: 100%;
}

.header-contents{
    margin: 0 auto;
}

.right_3px {
    margin-right: 3px;
}

.header-img img{
    width: 94px;
    aspect-ratio: auto 94 / 47;
    height: 47px;
    margin-top: 20px;
}

.header-list {
    margin: 3px 0 10px 12px;
    line-height: 1.8em;
}

div.header-list ul li {
    margin: 10px 30px 0 0;
}

div.header-list ul li a {
    padding: 3px 0 2px;
    font-size: 14px;
}

.header-list li a {
    text-decoration: none;
    color: black;
    line-height: 1em;
    letter-spacing: .1em;
}

.header-list li a:hover{
    color: red;
}

.header-list li.active a {
    border-bottom: 3px solid red;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.header-list2 {
    background-color: red;
    height: 35px;
}

.header-list2 ul{
    padding-top: 7px;
}

.header-list2 li{
    padding: 0 12px;
}

.header-list2 li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    line-height: 1em;
    letter-spacing: .1em;
    padding-bottom: 2px;
}

.header-list2 li a:hover{
    color: black;
}

.header-list2 li.active a {
    border-bottom: 3px solid white;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.header-list3{
    margin-top: 12px;
    padding-left: 12px;
}
.list_triangle {
    padding: 0px;
    margin: 0px;
}

.list_triangle li a{
    font-size: 12px;
    color: #666;
    padding-right: 15px;
    line-height: 1em;
    letter-spacing: .1em;
    text-decoration: none;
}

.list_triangle li a:hover{
    color: red;
}

.fa-caret-right {
    font-size: 0.5em;
    opacity: .7;
}

/* 
.list_triangle > li::before {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.3em solid transparent;
    border-left: 0.4em solid #666;
    content: "";
} */

.container{
    width: 1108px;
    margin: auto;
}

.main{
    margin-top:75px;
}

.main img{
    width: 100%;
}

div.sn-item-sort {
    width: 100%;
    margin: 60px 0 40px;
}


div.sn-item-sort ul li {
    box-sizing: border-box;
    padding-right: 11px;
}

div.sn-item-sort ul li a {
    padding: 10px 12px;
    display: inline-block;
    border: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: .1em;
}

div.sn-item-sort ul li a:hover{
    background-color:red;
    color: #fff;
}

div.sn-item-sort ul li a.true{
    background-color:red;
    color: #fff;
}


div.sn-items h2 {
    font-size: 18px;
    line-height: 1em;
    letter-spacing: .1em;
    clear: both;
    font-weight: 400;
    margin-bottom: 18px;
}

div.sn-items ul {
    display: flex;
    flex-flow: row wrap;
}

div.sn-items ul li.sn-item-list {
    width: 185px;
    margin-bottom: 20px;
}

div.sn-items h3.sn-item-label {
    float:left;
    width: 168px;
    height: 168px;
    background: url(images/item-category-bg.gif) right top no-repeat;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .1em;
    margin-right: 10px;
}

div.sn-items h3.sn-item-label span {
    display: inline-block;
    margin-top: 45%;
}

div.sn-items ul li a:hover {
    text-decoration: underline;
    opacity: calc(.6);
}

div.sn-items ul li dt {
    width: 168px;
    height: 168px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

div.sn-items ul li dt img {
    max-width: 85px;
    max-height: 110px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

div.sn-items ul li dd{
    width: 168px;
    display: block;
    font-size: 11px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-weight: 400;
    margin: 0 auto;
}

