@use "../foundation/index" as f;

.l-thanks{
    width: 100%;
    margin-top: 100px;
}
.l-thanks__inner{
    width: f.$layout-with-inner;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}
